/* body, html {
    height: 100%;
    margin: 0;
  } */




.navbar{
    background-color: #6F6AF7;
    font-family: Arial, sans-serif;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    display: flex;
    color: white;
    width: 1728px;
    height: 65px;
    gap: 100px;
 
}
.navele{
    background-color: #6F6AF7 ;
    border: none;
    color: white;
    height: 65px;
    text-decoration: none;
}

.dappr_img{
    height: 30px;
    padding:20px 25px 10px ;
}



.search-container{
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 55px;
}
.searchbar{
    border-radius: 60px;
    padding:5px;
    display:flex;
    background-color: #FFFFFF;
}
.searchbar input{
    border:0;
}
::placeholder{
    color:#9F9F9F;
}
.searchbar button{
    border:0;
    background-color: #FFFFFF;
}

#searchlogo{
    width: 12px;
    height:12px;
}


.hamburger-icon {
    width: 30px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 24px;
  }
  
  .line {
    width: 100%;
    height: 4px; /* Adjust line thickness as needed */
    background-color: #000; /* Adjust line color as needed */
    border-radius: 2px; /* Adjust border radius to round lines */
  }
  
.imganddata{
    display: flex;
    padding: 130px 20px 20px 80px;
    /* flex-wrap: nowrap; */
    gap: 90px;
    color: #6F7373;
    
    

}

.card {
    background-color: #E5D8FF;
    border-radius: 8px;
    height: 300px;
    width: 750px;
    font: #6F7373;
    font-size: 20px;
    
    
    
  }

  .flashcards{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    
}

.card1{
    background-color:  #929DFF;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin: 50px;
    height: 90px;
    padding: 0px 0px 0px 20px;
}
.card20{
    background-color:  #734CF2;
    color: white;
    width: 200px;
    margin: 50px;
    height: 90px;
    padding: 0px 0px 0px 20px;
    
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card3{
    background-color:  #D288FF;
    color: white;
    width: 200px;
    margin: 50px;
    height: 90px;
    padding: 0px 0px 0px 20px;
    
    
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card4{
    background-color: #000000;

    color: white;
    width: 200px;
    margin: 50px;
    height: 90px;
    padding: 0px 0px 0px 20px;
    
    
    
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-container {
    display: grid;
    grid-template-columns: 450px auto;
    background-color:#483EFF;
    height: 550px;
    border-radius: 10px;
    
  
    padding: 20px 20px 20px 10px;
  }
  .grid-item {
    background-color:#483EFF;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px 20px 20px 20px;
    font-size: 30px;
    text-align: center;
    height: 500px;
    
    
  }
  .grid-item2 {
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    text-align: left;
    color: #04285A;
    height: 500px;
  }
  
  
  .card2{
    background-color:#483EFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 25px;
    padding: 20px;
    height: 90px;
    
    border: 3px solid white;
  }
  #card21{
    background-color: #BCE0F6;
    
  }

#pgriditem2{
    padding-left: 40px;
}
.next{
    display: flex;
    flex-direction: row-reverse;
    
}
#nextbutton{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 150px;
}


.round-box {
  
  
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    border-radius: 50%; /* Make the box round */
    /* overflow: hidden; Hide overflow content */
    border: 1px solid #000; /* Add border */
    background-color: white;
  }
  
  .round-box img {
    width: 50px; /* Ensure the image fills the box */
    height: 50px; /* Ensure the image fills the box */
    object-fit: center; /* Maintain aspect ratio and cover box */
  }
  
  .flex{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    margin: 50px;
  
  }

#icons{
    width: 80px;
    height: 220px;
    position: sticky;
    float: right;
    margin-top: 220px;
    top: 110px;
}
#frame1{
    width: 80px;
    height: 220px;
}